root, html, body {
    box-sizing: border-box;
    margin: 0;
}

.App {
    width: 100vw;
    height: 100vh;
}

img {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -999;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}