
#column-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#base-stat-container p{
    font-size: 24px;
    height: 10px;
}

.column {
    margin-top: 50px;
    max-height: 1600px;
    min-height: 800px;
    width: 30%;
    background-color: darkgrey;
}

.dd {
    background-color: cornflowerblue;
    margin: 10000px;
    margin-top: 50px;
}

.bottom-column-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-column {
    display: flex;
}

.Combobox {
    margin-top: 10px;
}